:root{
    --main-color :#0D0D0E;
    --accent:#EB3223;
    --button-color: #7A1619;
    --white:#fff;
    --bg-menu:#0B0B0B;
}

@font-face {
    font-family: "Montserrat";
    src:
      url("../fonts/Montserrat-Regular.ttf") format("ttf"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
  }
@font-face {
    font-family: "Montserrat";
    src:
      url("../fonts/Montserrat-SemiBold.ttf") format("ttf"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
  }
@font-face {
    font-family: "Montserrat";
    src:
      url("../fonts/Montserrat-Bold.ttf") format("ttf"),
      url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
  }
@font-face {
    font-family: "Rockwell";
    src:
      url("../fonts/RockwellStd.ttf") format("ttf"),
      url("../fonts/RockwellStd.woff2") format("woff2"),
      url("../fonts/RockwellStd.woff") format("woff");
    font-weight: 400;
  }
@font-face {
    font-family: "Rockwell";
    src:
      url("../fonts/RockwellStd-Bold.ttf") format("ttf"),
      url("../fonts/RockwellStd-Bold.woff2") format("woff2"),
      url("../fonts/RockwellStd-Bold.woff") format("woff");
    font-weight: 700;
  }

body{
    background-color: var(--main-color);
    color: var(--white);
}
h1{
    font-family: 'Rockwell';
    font-weight: 700;
    font-size: 62px;
}
.main-btn{
    background-color: var(--button-color);
    padding: 18px 50px;
    border-radius: 50px;
    transition: all 0.3s;
    font-family: 'Rockwell';
    font-size: 24px;
    font-weight: 700;
}
.main-btn:hover{
    background-color: var(--accent);
}
.redfalcon-wrapper {
    display: flex;
    align-items: start;
}
.redfalcon-wrapper__menu {
    position: fixed;
    background-color: var(--bg-menu);
    width: 250px;
    height: 100vh;
    padding: 54px 56px;
    font-family: 'Rockwell';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.redfalcon-wrapper__menu--nav{
    margin-top: 116px;
}
.redfalcon-wrapper__menu--nav li{
    margin-bottom: 24px;
}
.redfalcon-wrapper__menu--nav li a{
    transition: all 0.3s;
}
.redfalcon-wrapper__menu--nav li a:hover{
    color: var(--accent);
    transition: all 0.3s;
}
.redfalcon-wrapper__content {
    max-width: calc(100vw - 250px);
    width: 100%;
    margin-left: 250px;
    flex: 1 0;

}


/* ============ Home ============*/
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.home__offer--types{
    font-size: 36px;
    font-family: 'Rockwwell';
    font-weight: 400;
    text-transform: uppercase;
}
.home__offer--title{
    max-width: 947px;
    margin: 61px 0;
}